<!-- eslint-disable vue/multi-word-component-names -->
<script lang="ts">
import MainPageWithSideBar from '@/components/MainPageWithSideBar.vue';
import { Emplacement, EmplacementApi } from '@/gestocks-api';
import { defineComponent } from 'vue';

export default defineComponent({
  components: { MainPageWithSideBar },
  data() {
    return {
      emplacements: [] as Emplacement[],
      newNom: "",
    }
  },
  async mounted() {
    await this.updateEmplacement()
  },
  methods: {
    async updateEmplacement() {
      const api = new EmplacementApi();
      this.emplacements = await api.emplacementsGet();
    },
    async ajoutEmplacement() {
      const api = new EmplacementApi();
      await api.emplacementPost({ "emplacement": { "id": 0, "nom": this.newNom } });
      await this.updateEmplacement();
    }
  }
})
</script>

<template>
  <MainPageWithSideBar>
    <v-table>
      <thead>
        <tr>
          <th class="text-left">
            Name
          </th>
          <th class="text-left">
            Id
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          v-for="emplacement in emplacements"
          :key="emplacement.id"
        >
          <td>{{ emplacement.nom }}</td>
          <td>{{ emplacement.id }}</td>
        </tr>
      </tbody>
    </v-table>
    <template #side>
      <v-list rounded="lg">
        <v-list-item>
          <v-text-field
            v-model="newNom"
            label="Nouveau emplacement"
          />
        </v-list-item>
        <v-list-item>
          <v-btn
            color="success"
            class="mr-4"
            @click="ajoutEmplacement()"
          >
            Ajout !
          </v-btn>
        </v-list-item>

        <v-divider class="my-2" />

        <v-list-item
          link
          color="grey-lighten-4"
          @click="updateEmplacement()"
        >
          <v-list-item-title>
            Refresh
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </template>
  </MainPageWithSideBar>
</template>