<!-- eslint-disable vue/multi-word-component-names -->
<script lang="ts">
import MainPageWithSideBar from '@/components/MainPageWithSideBar.vue';
import { ComposantsApi, DeclarationComposant, Emplacement, EmplacementApi, InstancesApi } from '@/gestocks-api';
import type { FormulaireVuetify } from '@/mytypes';
import { defineComponent } from 'vue';
// eslint-disable-next-line no-unused-vars
enum ModeAjout {
// eslint-disable-next-line no-unused-vars
  ReuseComposant,
// eslint-disable-next-line no-unused-vars
  NewComposant,
}

export default defineComponent({
  components: { MainPageWithSideBar },
  data() {
    return {
      definitions: [] as DeclarationComposant[],
      emplacements: [] as Emplacement[],
      definitionSelect: null as (null | Number),
      emplacement: null as (null | Number),
      nombre: "1",
      nom: "" as (string | null),
      mode_insertion: ModeAjout.ReuseComposant as ModeAjout,
      valid: false,
      rulesNom: [(v: string) => (v != "" && v != null) || "Champs requis"],
      rulesComposant: [(v: string) => Number.isInteger(v) || 'Choix d\'un composant requis'],
      rulesNombre: [(v: string) => Number.parseInt(v) > 0 || 'Nombre trop faible'],
      rulesEmplacement: [(v: string) => Number.isInteger(v) || 'Choix d\'emplacement requis'],
    }
  },
  computed: {
    newComposant() {
      return { id: 0, nom: this.nom } as DeclarationComposant
    },
    presenceNom() {
      if (this.nom === "") { return false }
      if (this.nom === null) { return false }
      return true
    },
  },
  async mounted() {
    await this.updateData()
  },
  methods: {
    async updateDefinitions() {
      const api = new ComposantsApi()
      this.definitions = await api.composantsGet()
    },
    async updateEmplacement() {
      const api = new EmplacementApi()
      this.emplacements = await api.emplacementsGet()
    },
    async updateData() {
      const definition = this.updateDefinitions()
      const emplacement = this.updateEmplacement()
      await definition
      await emplacement
    },
    async validate() {
      const form = this.$refs.form as FormulaireVuetify
      const valid = await form.validate()

      if (!valid) {
        //TODO cas d'erreur
      }
      if (this.mode_insertion == ModeAjout.NewComposant) {
        const apiComp = new ComposantsApi();
        const result = await apiComp.composantPost({ declarationComposant: this.newComposant })
        this.definitionSelect = result.id;
      }
      {
        const apiInstance = new InstancesApi();
        const prom = [];
        for (let idx = 0; idx < Number.parseInt(this.nombre); idx++) {
          prom.push(apiInstance.instancePost({ instanceComposant: { id: 0, idDefinition: this.definitionSelect?.valueOf() ?? 0, idEmplacement: this.emplacement?.valueOf() ?? 0 } }))
        }
        for (let idx = 0; idx < Number.parseInt(this.nombre); idx++) {
          await prom[idx]
        }
      }
      return
    },
    reset() {
      const form = this.$refs.form as FormulaireVuetify
      form.reset()
    },
  },


})
</script>

<template>
  <MainPageWithSideBar>
    <v-form ref="form">
      <v-container>
        <v-row>
          <v-col>
            <v-switch
              v-model="mode_insertion"
              hide-details
              color="primary"
              true-value="1"
              false-value="0"
              label="Création d'un nouveau composant"
            />
          </v-col>
          <v-col>
            <v-text-field
              v-if="mode_insertion == 1"
              v-model="nom"
              label="Nom du composant"
              :rules="rulesNom"
              clearable
            />
            <v-autocomplete
              v-else
              v-model="definitionSelect"
              label="Composant existant"
              :rules="rulesComposant"
              :items="definitions"
              item-title="nom"
              item-value="id"
              clearable
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              v-model="nombre"
              label="Nombre de composant"
              type="number"
              :rules="rulesNombre"
            />
          </v-col>
          <v-col>
            <v-autocomplete
              v-model="emplacement"
              label="Emplacement"
              :items="emplacements"
              item-title="nom"
              item-value="id"
              :rules="rulesEmplacement"
              clearable
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <v-btn
              color="success"
              class="mr-4"
              @click="validate"
            >
              Ajout !
            </v-btn>
            <v-btn
              color="error"
              class="mr-4"
              @click="reset"
            >
              Reset
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>

    <template #side>
      <v-list rounded="lg">
        <v-list-item
          link
          color="grey-lighten-4"
          @click="updateData()"
        >
          <v-list-item-title>
            Refresh
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </template>
  </MainPageWithSideBar>
</template>