<!-- eslint-disable vue/multi-word-component-names -->
<script lang="ts">
import InventaireRenderVue from '@/components/InventaireRender.vue'
import MainPageWithSideBarVue from '@/components/MainPageWithSideBar.vue'
import type { ContenuEmplacement, Emplacement } from '@/gestocks-api'
import { EmplacementApi } from '@/gestocks-api'
import { defineComponent } from 'vue'
export default defineComponent({
  components: { InventaireRenderVue, MainPageWithSideBarVue },
  data() {
    return {
      contenu: null as (null | ContenuEmplacement),
      id_cible: 0,
      emplacements: [] as Emplacement[],
    }
  },
  watch: {
    id_cible() {
      this.updateContenu()
    },
  },
  async mounted() {
    await this.updateEmplacements()
  },
  methods: {
    async updateContenu() {
      const api = new EmplacementApi()
      this.contenu = await api.emplacementContenuIdEmplacementGet({ idEmplacement: this.id_cible })
    },
    async updateEmplacements() {
      const api = new EmplacementApi()
      this.emplacements = await api.emplacementsGet()
    },
  },
})
</script>

<template>
  <MainPageWithSideBarVue>
    <template #side>
      <v-list rounded="lg">
        <v-list-item
          v-for="emplacement in emplacements"
          :key="emplacement.id"
          link
          @click="id_cible = emplacement.id"
        >
          <v-list-item-title>
            {{ emplacement.nom }}
          </v-list-item-title>
        </v-list-item>

        <v-divider class="my-2" />

        <v-list-item
          link
          color="grey-lighten-4"
          @click="updateEmplacements()"
        >
          <v-list-item-title>
            Refresh
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </template>
    <InventaireRenderVue
      v-if="contenu != null"
      :representation="contenu"
    />
    <div v-else />
  </MainPageWithSideBarVue>
</template>