<!-- eslint-disable vue/multi-word-component-names -->
<script lang="ts">
import MainPageWithSideBarVue from '@/components/MainPageWithSideBar.vue'
import RepartitionRenderVue from '@/components/RepartitionRender.vue'
import type { DeclarationComposant, RepartitionInstance } from '@/gestocks-api'
import { ComposantsApi } from '@/gestocks-api'
import { defineComponent } from 'vue'
export default defineComponent({
  components: { RepartitionRenderVue, MainPageWithSideBarVue },
  data() {
    return {
      repartition: null as (null | RepartitionInstance),
      id_cible: 0,
      definitions: [] as DeclarationComposant[],
    }
  },
  watch: {
    id_cible() {
      this.updateRepartiton()
    },
  },
  async mounted() {
    await this.updateDefinitions()
  },
  methods: {
    async updateRepartiton() {
      const api = new ComposantsApi()
      this.repartition = await api.composantRepartitionIdDefinitionGet({ idDefinition: this.id_cible })
    },
    async updateDefinitions() {
      const api = new ComposantsApi()
      this.definitions = await api.composantsGet()
    },
  },
})
</script>

<template>
  <MainPageWithSideBarVue>
    <template #side>
      <v-list rounded="lg">
        <v-list-item
          v-for="definition in definitions"
          :key="definition.id"
          link
          @click="id_cible = definition.id"
        >
          <v-list-item-title>
            {{ definition.nom }}
          </v-list-item-title>
        </v-list-item>

        <v-divider class="my-2" />

        <v-list-item
          link
          color="grey-lighten-4"
          @click="updateDefinitions()"
        >
          <v-list-item-title>
            Refresh
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </template>
    <RepartitionRenderVue
      v-if="repartition != null"
      :representation="repartition"
    />
    <div v-else />
  </MainPageWithSideBarVue>
</template>