<script lang="ts">
import type { PropType } from 'vue'
import { defineComponent } from 'vue';
import type { ContenuEmplacement } from '@/gestocks-api'

export default defineComponent({
  props: {
    representation: {
      type: Object as PropType<ContenuEmplacement>,
      required: true,
    },
  },
})

</script>

<template>
  <v-table
    fixed-header
    height="300px"
  >
    <thead>
      <tr>
        <th class="text-left">
          Nombre de composant
        </th>
        <th class="text-left">
          Composant
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="elem in representation.contenu"
        :key="elem.definitionComposant.id"
      >
        <td>{{ elem.nombreDisponible }}</td>
        <td>{{ elem.definitionComposant.nom }}</td>
      </tr>
    </tbody>
  </v-table>
</template>
