<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({})
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="2">
        <v-sheet rounded="lg">
          <slot name="side">
            SIDEBAR
          </slot>
        </v-sheet>
      </v-col>

      <v-col>
        <v-sheet
          min-height="70vh"
          rounded="lg"
        >
          <slot>MAIN</slot>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>