<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <v-app-bar flat>
    <v-container class="fill-height d-flex align-center">
      <v-avatar
        class="mr-10 ml-4"
        color="grey-darken-1"
        size="32"
        image="/logo.png"
      />


      <RouterLink
        v-for="link in links"
        :key="link.nom"
        :to="link.adresse"
      >
        <v-btn variant="text">
          {{ link.nom }}
        </v-btn>
      </RouterLink>

      <v-spacer />

      <v-responsive max-width="260">
        <v-text-field
          density="compact"
          hide-details
          variant="solo"
        />
      </v-responsive>
    </v-container>
  </v-app-bar>

  <v-main class="bg-grey-lighten-3">
    <RouterView />
  </v-main>

  <v-footer class="bg-grey-lighten-1 d-flex flex-column">
    <p>
      Rapport de bug : <a
        href="mailto:contact-project+gestocks-deploimentdocker-41399577-issue-@incoming.gitlab.com"
      ><v-btn
        icon="mdi-mail"
        variant="plain"
        size="small"
      /></a>
      <a href="https://gitlab.com/gestocks/webapp-gestocks">
        <v-btn
          icon="mdi-gitlab"
          variant="plain"
          size="small"
        /></a>
    </p>
    <p>
      {{ new Date().getFullYear() }} — Département Nicolas Tesla, ENS Paris Saclay — <strong>Léopold Clément</strong>
    </p>
  </v-footer>
</template>

<script lang="ts">
import { RouterView } from 'vue-router';
import { defineComponent } from 'vue';

class Linkable {
  nom: string;
  adresse: string;
  constructor(nom: string, adresse: string) {
    this.nom = nom
    this.adresse = adresse
  }
}

export default defineComponent({
  components : {RouterView},
  data() {
    return {
      links: [new Linkable('Inventaire', '/Inventaire'), new Linkable('Repartition', '/Repartition'), new Linkable('Ajout', '/Ajout'), new Linkable('Administration', '/Administration')] as Linkable[]
    }
  },
})
</script>

<style>
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
</style>